{% extends "layout.html" %}

{% block body %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h2>Playlists</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form class="form-inline" action="{{ url_for('create_playlist') }}" method="POST" class="navbar-form navbar-right" role="form">
                <input type="text" class="form-control" id="artist-name" name="artistName" placeholder="Artist...">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="btn btn-primary">Create Playlist</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list-group">
            {% for playlist in playlists %}
            <a href="{{ url_for('display_playlist', id=playlist['id']) }}" class="list-group-item list-group-item-action">{{ playlist['name'] }}</a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
