{% extends "layout.html" %}

{% block body %}
<div class="container mt-3">
    <div class="row">
        <p>This app uses an unofficial API, so to access Pandora, you'll need to copy and paste your authentication token below.</p>
        <p>To find it, log in to Pandora, open the page's source (usually by right-clicking and selecting "View Source"), then search for the &quot;authToken&quot; field and copy its value, which will end with equals signs (=).</p>
        <p>Unfortunately, once the token expires, you'll be prompted to login again.</p>
    </div>
    {% include "login-contents.html" %}
</div>
{% endblock %}

{% block js %}

{% with redirect_target = request.url_root ~ url_for("show_playlists") %}
{% include "js/login.html" %}
{% endwith %}

{% endblock %}
