{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <a href="{{ url_for('show_playlists') }}"><i class="fas fa-long-arrow-alt-left"></i> Back to playlists</a>
    </div>
    <div class="row justify-content-between">
        <div class="col-4" style="display: flex; align-items: flex-end; margin-bottom: 5px;">
            <i id="playlist-save" class="fas fa-save fa-lg text-success" style="margin-right: 5px;" disabled></i>
            <i id="playlist-undo" class="fas fa-reply fa-lg text-secondary" style="margin-right: 5px;" disabled></i>
            <i id="playlist-reset" class="fas fa-undo fa-lg text-warning" disabled></i>
        </div>
        <div class="col-4 col-offset-4 text-right">
            <div style="font-style: italic;">
                Selected: <span id="selected-count">0</span>
            </div>
            <button id="playlist-delete" type="button" class="btn btn-danger" disabled>Delete</button>
            <button id="playlist-library-add" type="button" class="btn btn-info" disabled>Add To Library</button>
        </div>
    </div>
    <div class="row">
        <ul id="playlist-tracks" data-playlist-id="{{ playlist_id }}" class="list-group col" tabindex="0">
        {% for track in tracks %}
            <li data-id="{{ track['item_id'] }}" data-name="{{ track['name'] }}" data-artist="{{ track['artist'] }}" data-album="{{ track['album'] }}" class="list-group-item"></li>
        {% endfor %}
        </ul>
    </div>
</div>

{% include "login-modal.html" %}

{% endblock %}

{% block css %}
#playlist-tracks {
    cursor: move;
    outline: none;
}

#playlist-save, #playlist-undo, #playlist-reset {
    cursor: pointer;
}

.selected {
	background-color: #f9c7c8;
	border: solid red 1px !important;
	z-index: 1 !important;
}

.fas.disabled, .fas[disabled], .disabled > .fas, [disabled] > .fas {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

{% endblock %}

{% block js %}
var changes = [];

function arrayEq(array1, array2) {
    return array1.length === array2.length && array1.every((value, index) => value === array2[index]);
}

function arrayZip(...arrays) {
    var final = arrays[0].map(val => [val]);
    arrays.slice(1).forEach(arr => arr.forEach((val, index) => final[index].push(val)));
    return final;
}

function toggleAttr(condition, selector, attrName) {
    if (condition) {
        $(selector).attr(attrName, attrName);
    } else {
        $(selector).removeAttr(attrName);
    }
}


function displayTrackLibraryIcon(root) {
    var base = $("<i></i>")
        .attr("data-control", "library-add")
        .css("padding-right", "10px;");

    if ($(root).attr("data-in-library") === "true") {
        return base
            .addClass("fas fa-check")
            .addClass("text-success");
    } else {
        return base
            .addClass("fas fa-plus")
            .addClass("text-info")  // green
            .css("cursor", "pointer")
            .click(function(event) {
                libraryAdd($(this).parents('li'));
            });
    }
}

function displayTrack(root, trackno, library) {
    var name = $(root).attr("data-name");
    var artist = $(root).attr("data-artist");
    var album = $(root).attr("data-album");

    var libraryIcon = displayTrackLibraryIcon(root);

    var deleteIcon = $("<i></i>")
        .addClass("far fa-trash-alt")
        .addClass("text-danger")  // red
        .attr("data-control", "delete")
        .css("cursor", "pointer")
        .css("padding-left", "10px")
        .click(function(event) {
            deleteTracks($(this).parents('li'));
        });

    // Prevent SelectorJS from deselecting items when the delete or add to library
    // buttons are clicked.
    $(libraryIcon).add(deleteIcon).on('pointerup mouseup touchend', function(event) {
        event.stopPropagation();
    });

    return $(root)
        // Text display
        .html(`${trackno}. ${name} - <span style="font-size: 80%; color: rgb(128,128,128);">by ${artist} (from ${album})</span>`)
        // Action buttons
        .append($("<span></span>")
            .addClass("float-right")
            .addClass("controls")
            .append(libraryIcon)
            .append(deleteIcon));
}

function loadPlaylistTracks() {
    return $.post("{{ url_for('display_playlist') }}", {id: "{{ playlist_id }}"})
        .then(function(response) {
            $("#playlist-tracks").empty();

            response["tracks"].forEach((track, index) => {
                $("#playlist-tracks")
                    .append(displayTrack(
                        $("<li></li>")
                            .addClass("list-group-item")
                            .attr("data-id", track["item_id"])
                            .attr("data-name", track["name"])
                            .attr("data-artist", track["artist"])
                            .attr("data-album", track["album"])
                            .attr("data-in-library", track["in_library"]),
                        index + 1));
            });
        },
        function(jqXHR, textStatus, errorThrown) {
            openLoginOnUnauth(jqXHR, loadPlaylistTracks);
        });
}

function redisplayTracks() {
    $("#playlist-tracks li").each((index, item) => {
        displayTrack(item, index + 1);
    });
}

function getPlaylistTracks() {
    var tracks = [];
    $("#playlist-tracks li").each((index, val) => tracks.push($(val).attr("data-id")));
    return tracks;
}

function undoLastAction() {
    var lastAction = changes[changes.length - 1];
    var itemToDest = lastAction.slice(1);
    if (lastAction[0] === "move") {
        itemToDest = itemToDest.map(move => [$(`#playlist-tracks li[data-id='${move[0]}']`).detach(), move[1]]);
    }

    itemToDest.sort((val1, val2) => val2[1] > val1[1]);
    itemToDest.forEach(([item, index]) => {
        if (index === $("#playlist-tracks li").length) {
            $(`#playlist-tracks li:last`).after(item);
        } else {
            $(`#playlist-tracks li:nth(${index})`).before(item);
        }
    });
    changes.splice(changes.length - 1, 1);

    updateActionButtons();
}

function updateActionButtons() {
    toggleAttr(arrayEq(originalTracks, getPlaylistTracks()), "#playlist-save", "disabled");
    toggleAttr(!changes.length, "#playlist-undo", "disabled");
    toggleAttr(!changes.length, "#playlist-reset", "disabled");
    toggleAttr(!$("#playlist-tracks li.selected").length, "#playlist-delete", "disabled");
    toggleAttr(!$("#playlist-tracks li.selected").length, "#playlist-library-add", "disabled");
}

function updateSelectedCount() {
    $("#selected-count").text($("#playlist-tracks li.selected").length);
}

function deleteTracks(nodeList) {
    var deleted = ["delete"];
    $(nodeList)
        .removeClass("selected")
        .each((index, node) => {
            deleted.push([node, $(node).index()]);
        })
        .detach();
    changes.push(deleted);
    updateActionButtons();
}

function libraryAdd(nodeList) {
    var tracks = $(nodeList).map(function() {return $(this).attr("data-id")}).get();

    var data = {tracks: JSON.stringify(tracks), playlistId: "{{ playlist_id }}"};
    $.post("{{ url_for('library_add_from_playlist') }}", data)
        .done(function() {
            $(nodeList).each(function(index, node) {
                $(node).attr("data-in-library", "true");
                $(node).find("[data-control='library-add']").replaceWith(displayTrackLibraryIcon(node));
            });
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            openLoginOnUnauth(jqXHR, () => libraryAdd(nodeList));
        });
}

function libraryAddSelected() {
    libraryAdd($("#playlist-tracks li.selected"));
}

function savePlaylist() {
    $.post("{{ url_for('save_playlist', id=playlist_id) }}", {tracks: JSON.stringify(getPlaylistTracks())})
        .done(function() {
            redisplayTracks();
            changes = [];
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            openLoginOnUnauth(jqXHR, savePlaylist);
        });
}

$("#playlist-save").click(function() {
    savePlaylist();
});

$("#playlist-undo").click(function() {
    if (changes.length) {
        undoLastAction();
        updateActionButtons();
    }
});

$("#playlist-reset").click(function() {
    while (changes.length) {
        undoLastAction();
    }
    updateActionButtons();
});

$("#playlist-delete").click(function() {
    deleteTracks($("#playlist-tracks li.selected"));
});

$("#playlist-library-add").click(function() {
    libraryAdd($("#playlist-tracks li.selected"));
});

$("#playlist-tracks").keydown(function(e) {
    if (e.key === "Shift" || e.key === "Control") {
        $("#playlist-tracks").css("cursor", "pointer");
    }
});

$("#playlist-tracks").keyup(function(e) {
    if (e.key === "Shift" || e.key === "Control") {
        $("#playlist-tracks").css("cursor", "move");
    }
});

// Prevent SelectorJS from deselecting items when the delete or add to library
// buttons are clicked.
$("#playlist-delete").add("#playlist-library-add").on('pointerup mouseup touchend', function(event){
    event.stopPropagation();
});


new Sortable($("#playlist-tracks").get(0), {
    multiDrag: true,
    multiDragKey: "Ctrl",
    fallbackTolerance: 3, // So that we can select items on mobile
    animation: 150,
    selectedClass: "selected",
    onUpdate: function (evt) {
        if (evt.items.length) {
            var moveInfo = arrayZip(
                evt.items.map(item => $(item).attr("data-id")),
                evt.oldIndicies.map(info => info["index"]),
                evt.newIndicies.map(info => info["index"]));
        } else {
            var moveInfo = [[$(evt.item).attr("data-id"), evt.oldIndex, evt.newIndex]];
        }

        moveInfo.splice(0, 0, "move");

        changes.push(moveInfo);

        updateActionButtons();
    }
});

var mutationObserver = new MutationObserver(function() {
    updateSelectedCount();
    updateActionButtons();
});

var originalTracks;
loadPlaylistTracks()
    .done(function() {
        originalTracks = getPlaylistTracks();

        $("#playlist-tracks li").each((index, node) => {
            mutationObserver.observe(node, {"attributeFilter": ["class"]});
        });
    });

{% include "js/login.html" %}

{% endblock %}
