$("#login-auth-token").click(function() {
    var currentService = new URL(window.location.href).searchParams.get("service_name");
    var authTokenDict = JSON.parse(localStorage.getItem("authToken") || "{}");
    authTokenDict[currentService] = $("#user-auth-token").val();

    localStorage.setItem('authToken', JSON.stringify(authTokenDict));
    $("#user-auth-token").val("");

    {% if redirect_target %}
    window.location.href = "{{ redirect_target }}";
    {% endif %}
});

$("#user-auth-token").keyup(function (evt) {
    if (evt.key === "Enter") {
        $("#login-auth-token").click();
    }
});

function openLoginOnUnauth(jqXHR, loginCallback) {
    if (jqXHR.status === 401) {
        $("#modal-login").modal();
        $("#login-auth-token").on("click.callback-action", function() {
            $("#login-auth-token").off("click.call-back-action");
            $("#modal-login").modal("hide");

            loginCallback();
        });
    }
}

function getAuthToken() {
    var currentService = new URL(window.location.href).searchParams.get("service_name");
    var authTokenDict = JSON.parse(localStorage.getItem("authToken") || "{}");
    return currentService in authTokenDict ? authTokenDict[currentService] : "";
}
